<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
		<head>
			<meta charset="ISO-8859-1">
			<title>KodBook Home</title>
			<link rel="stylesheet" th:href="@{/css/style.css}">
		</head>
	<body>
		<!-- Navigation Bar -->
		<nav>
			<span th:text="${session.userName}"></span>
			<a href="/web/home">Home</a>
			<a href="/web/openCreatePost">Create Post</a>
			<a href="/web/openMyProfile">My Profile</a>
			<a href="/web/openEditProfile">Edit Profile</a>
			<form th:action="@{/web/logout}" method="post">
    			<button class="hover:text-blue-300" type="submit">Logout</button>
			</form>

		</nav>
		<div>
        <!-- Loop through all posts -->
        <div th:each="post : ${posts}">
            <!-- Display post photo (if available) -->
          <ul>
          	<li>
          		
         			<form action="/web/viewProfile" method="post">
         				<!-- Automatically injects CSRF token -->
        				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        					
         				<input type="hidden" name="userName" th:value="${post.user.userName}" />
         				<button type="submit">
	          			<span><img th:if="${post.user.photoBase64}" 
		                 th:src="'data:image/jpeg;base64,' + ${post.user.photoBase64}" 
		                 alt="Profile Photo"  />
		                </span>
	          			<span th:text="${post.user.userName}"></span>
	          			</button>
	          		</form>	
		       
          	
          		
	            <img th:if="${post.photoBase64}" 
	                 th:src="'data:image/jpeg;base64,' + ${post.photoBase64}" 
	                 alt="Post Photo"  class="post-details"/>
              </li>
              <li>
             		<p>
            		<strong>Caption:</strong>
            		<span th:text="${post.caption}"></span>
            		</p>
            	<li>
             	<li>
		            <p><strong>Likes:</strong> <span th:text="${post.likes}"></span></p>
		            <form action="/web/likePost" method="post">
		            	
		            	<!-- Automatically injects CSRF token -->
        				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		            	
		            	<input type="hidden" name="id" th:value="${post.id}">
		            	<input type="submit" value="LIKE POST"> 
		            </form>
            	</li>
            	<li>
		            <form action="/web/home/addComment" method="post">
		            
		            	<!-- Automatically injects CSRF token -->
        				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        
		            	<input type="hidden" name="id" th:value="${post.id}">
		            	<textarea name="comment" placeholder="Add a Comment.."></textarea>
		            	<input type="submit" value="COMMENT"> 
		            </form>
             	</li>
             	<li>
		            <div>
		                <h3>Comments:</h3>
		                <ul>
		                    <li th:each="comment : ${post.comments}">
		                        <span th:text="${comment}"></span>
		                    </li>
		                </ul>
		            </div>
             	</li>
            </ul>
            <br>
            
        	</div>
    	</div>		
		 <!-- Footer -->
  		<div th:replace="~{footer}"></div>
	</body>
</html>