<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">		<head>
			<meta charset="ISO-8859-1">
			<title>KodBook Create Post</title>
		</head>
	<body>
		<h1>KodBook</h1>
		<!-- Navigation Bar -->
		<nav>
			<a href="/home">News Feed</a>
			<a href="/openCreatePost">Create Post</a>
			<a href="#">My Profile</a>
		</nav>
		<h1>#Create Post Here!</h1>
		
		<form action="/createPost" method="post" enctype="multipart/form-data">
			<textarea name="caption" placeholder="caption"></textarea>
				<br>
			<label>PHOTO : </label>
				<input type="file" name = "photo" accept="image/*">
					<br>
				<input type="submit" value="POST">
					<br>
		</form>
	</body>
</html>