<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
		<head>
			<meta charset="ISO-8859-1">
			<title>KodBook index</title>
		</head>
	<body>
		<h1>KodBook</h1>
		<h1>#1 social media app!</h1>
		
		<form action="/login" method="post">
			<label>USERNAME : </label>
				<input type="text" name = "userName">
				<br>
			<label>PASSWORD : </label>
				<input type="password" name = "password">
				<br>
				<input type="submit" value="LOGIN">
				<br>
			<a href="/openForgotPassword">Forgot Password?</a>
			<a href="/openSignUp">Create new Account?</a>
		</form>
	</body>
</html>