<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
		<head>
			<meta charset="ISO-8859-1">
			<title>KodBook index</title>
			<link rel="stylesheet" th:href="@{/css/style.css}">
		</head>
	<body>
		
		<nav>
			<h1>KodBook</h1>
		</nav>
		
		<form action="/login" method="post">
			<label>USERNAME : </label>
				<input type="text" name = "userName" required="required">
				<br>
			<label>PASSWORD : </label>
				<input type="password" name = "password" required="required">
				<br>
				<input type="submit" value="LOGIN">
				<br>
			<a href="/openForgotPassword">Forgot Password?</a>
			<a href="/openSignUp">Create new Account?</a>
		</form>
	</body>
</html>