<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
		<head>
			<meta charset="ISO-8859-1">
			<title>KodBook My Profile</title>
			<link rel="stylesheet" th:href="@{/css/style.css}">
		</head>
	<body>
		<!-- Navigation Bar -->
		<nav>
			<span th:text="${session.userName}"></span>
			<a href="/home">Home</a>
			<a href="/openCreatePost">Create Post</a>
			<a href="/openMyProfile">My Profile</a>
			<a href="/openEditProfile">Edit Profile</a>
			<a href="#">Logout</a>
		</nav>
		
		
        <h2>Profile Details</h2>	
        <ul>
        	<li><img th:if="${user.photoBase64}" 
                 th:src="'data:image/jpeg;base64,' + ${user.photoBase64}" 
                 alt="Profile Pic" /></li>
        	<li th:text="${user.userName}"></li>
        	<li th:text="${user.email}"></li>
        	<li th:text="${user.dob}"></li>
        	<li th:text="${user.gender}"></li>
        	<li th:text="${user.city}"></li>
        	<li th:text="${user.bio}"></li>
        	<li th:text="${user.college}"></li>
        	<li><a th:href="${user.linkedIn}" th:text="${user.linkedIn}"></a></li>
        	<li><a th:href="${user.gitHub}" th:text="${user.gitHub}"></a></li>
        </ul>
        <br>
        <div th:each="post : ${posts}">
            <!-- Display post photo (if available) -->
          <ul>
          	<li>
          		<b>
          			<span><img th:if="${post.user.photoBase64}" 
	                 th:src="'data:image/jpeg;base64,' + ${post.user.photoBase64}" 
	                 alt="Profile Photo"  />
	                </span>
          			<span th:text="${post.user.userName}"></span>
          		</b>
          		
	            <img th:if="${post.photoBase64}" 
	                 th:src="'data:image/jpeg;base64,' + ${post.photoBase64}" 
	                 alt="Post Photo"  class="post-details"/>
              </li>
              <li>
             		<p>
            		<strong>Caption:</strong>
            		<span th:text="${post.caption}"></span>
            		</p>
            	<li>
             	<li>
		            <p><strong>Likes:</strong> <span th:text="${post.likes}"></span></p>
		            <form action="/likePost" method="post">
		            	<input type="hidden" name="id" th:value="${post.id}">
		            	<input type="submit" value="LIKE POST"> 
		            </form>
            	</li>
            	<li>
		            <form action="/addComment" method="post">
		            	<input type="hidden" name="id" th:value="${post.id}">
		            	<textarea name="comment" placeholder="Add a Comment.."></textarea>
		            	<input type="submit" value="COMMENT"> 
		            </form>
             	</li>
             	<li>
		            <div>
		                <h3>Comments:</h3>
		                <ul>
		                    <li th:each="comment : ${post.comments}">
		                        <span th:text="${comment}"></span>
		                    </li>
		                </ul>
		            </div>
             	</li>
            </ul>
            <br>
            
        	</div>
	</body>
</html>